In [1]:
## Libraries
%matplotlib inline
import math
import numpy as np
import matplotlib.pyplot as plt
import pv_model_class
import pandas as pd

In [30]:
df = pd.read_csv('/Users/margotadam/Downloads/43386d97fd77fc514fa97f6166756b56/242127_47.69_-121.10_2015.csv')
df.head()

/Users/margotadam/opt/anaconda3/envs/real_modeling/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,39,40,41,42,43,45) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Source,Location ID,City,State,Country,Latitude,Longitude,Time Zone,Elevation,Local Time Zone,...,Cloud Type 11,Cloud Type 12,Fill Flag 0,Fill Flag 1,Fill Flag 2,Fill Flag 3,Fill Flag 4,Fill Flag 5,Surface Albedo Units,Version
0,NSRDB,242127,-,-,-,47.69,-121.1,-8,1308,-8,...,Dust,Smoke,NaN,Missing Image,Low Irradiance,Exceeds Clearsky,Missing CLoud Properties,Rayleigh Violation,NaN,3.0.6
1,Year,Month,Day,Hour,Minute,DHI,DNI,GHI,Wind Speed,Relative Humidity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,0,0,0,0,0,0.8,70.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,0,30,0,0,0,0.8,70.54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,1,0,0,0,0,0.9,70.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df_1 = df[['Source', 'Location ID', 'City', 'State', 'Country']]
df_1.head()

  Source Location ID City State Country
0  NSRDB      242127    -     -       -
1   Year       Month  Day  Hour  Minute
2   2015           1    1     0       0
3   2015           1    1     0      30
4   2015           1    1     1       0

In [32]:
df_2 = df_1.drop([0,1])
df_2.head()

  Source Location ID City State Country
2   2015           1    1     0       0
3   2015           1    1     0      30
4   2015           1    1     1       0
5   2015           1    1     1      30
6   2015           1    1     2       0

In [33]:
new_header = df.iloc[1]
df_3 = df[2:]
df_3.columns = new_header
df_3 = df_3.dropna(axis=1)
df_3.head()

1,Year,Month,Day,Hour,Minute,DHI,DNI,GHI,Wind Speed,Relative Humidity,Temperature
2,2015,1,1,0,0,0,0,0,0.8,70.55,-12
3,2015,1,1,0,30,0,0,0,0.8,70.54,-12
4,2015,1,1,1,0,0,0,0,0.9,70.06,-12
5,2015,1,1,1,30,0,0,0,0.9,70.05,-12
6,2015,1,1,2,0,0,0,0,0.9,69.33,-12